@{
    ViewBag.Title = "Home Page";
}

<div class="div1">
    <div class="div2">The Learning Center</div>
    <div class="div3">The place for technology classes.</div>
    <input class="input1"
           type="submit"
           value="Learn more &raquo;" />
</div>
<div class="div4">
    <table width="100%" style="margin:0 10px 0 10px">
        <tr class="row1">
            <td width="33%">Class List</td>
            <td width="33%">Your enrolled classes</td>
            <td width="33%">Enroll in a class</td>
        </tr>
        <tr class="row2">
            <td>See all our class offerings.</td>
            <td>See the classes you are enrolled in.</td>
            <td>Take a new class.</td>
        </tr>
    </table>
</div>