@model BirthdayCard.Models.Card

@{
    Layout = "~/Views/_BasicLayout.cshtml";
}

<!DOCTYPE html>


<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>
<h1>Birthday Card Sent</h1>
<p>From: @Model.From</p>
<p>To: @Model.To</p>
<p>Message: @Model.Message</p>

