<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3 class="panel-heading text-left" style="background-color:black; color: lightgray">Birthday Card Generator</h3>
    <div>
        @RenderBody()        
    </div>
    <p style="border-top: 2px solid gray; margin-top: 5px">&copy; 2018 - My ASP.NET Application</p>
</body>
</html>
